<div class='app'>
  <h1>🧅 Onion Architecture + Angular</h1>
  {{#if firstAppService}}
    <button (click)='runExampleUseCase()' [disabled]='loading'>
      {{#if loading}}Running...{{else}}Run Use Case{{/if}}
    </button>
    <p>\{{ message }}</p>

  {{else}}
    <p>No application services were defined.</p>
  {{/if}}
</div>